.navigation {
  position: absolute;
  left: 0;
  top: 0;
  height: 126px;
  width: 100%;
  background-color: #F3890C;

}




-----------------------------------------------------

body {
  margin: 0;
}


/* column */
.container {
  font-weight: 400;
  width: 92%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}




footer {
  position: relative;
  font-size: 16px;
  padding: 5% 10%;
  text-align: left;
  background-color: #F3890C;
  color: white;
  margin-top: 2px;


  @include media(m) {


  position: relative;
  font-size: 16px;
  padding: 3% 10%;
  padding-bottom: 5%;
  text-align: left;
  background-color: #F3890C;
  color: white;
  margin-top: 2px;
  padding-left: 220px;


  }
}
