.like__btn {
  color: inherit;
  border: 0;
  box-shadow: none;
  background-color: white;
  text-shadow: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  line-height: inherit;
  font-size: 16px;
  font-family: inherit;
  float:right;


  &:focus {
    outline: 0 !important;
  }
}



.like__count {
  margin-right: 0.3rem;
  color: #de7d0b;
  font-weight: 100;
  font-size: 15px;
  margin-top: 8px;
}
