// Titel

// je nach Viewport möchte ich eine verschieden stark ansteigende Titelei
$font-scale--default: 1.12;
$font-scale--m: 1.2;
$font-scale--l: 1.25;

h1 {

  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  margin-top: 0.3rem;
  hyphens: none;

  @include media(m) {

  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin: 0px;
  margin-top: 0.3rem;
  hyphens: none;

}
}

h2 {


  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #F3890C;

  @include media(m) {

  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #F3890C;
  // margin-top: 6px;
  // margin-top: 0.5rem;
}
}

h3 {
  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 6px;
  color: #686868;
}


h4,
h5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 26px;
  color: #FFFFFF;
  margin-top: 40px;
  float: left;
}

h6 {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
  padding: 0;
}

h7 {
  margin-top: 1.2em;
  font-weight: bold;
  padding: 0;
  color: #F3890C;
  @include media(m) {
    margin-top: 20px;
    font-weight: bold;
    padding: 0;
    color: #F3890C;
  }
}


h8 {
  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  margin: 0px;
  margin-top: 0.3rem;
  hyphens: none;

@include media(m){
  font-family: 'Roboto' Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin: 0px;
  margin-top: 0.3rem;
  hyphens: none;
}
}

h9 {
  color: white;
  font-weight: bold;

}


b {
  color: gray;
  font-weight: 500;
}


* {
  margin: 0;
  padding: 0;
}


.row {
  max-width: 1146px;
  padding: 20px 0px 40px;
  margin: 0 auto;
}


// footer {
//
//   background-color: #F3890C;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   font-family: 'Roboto', sans-serif;
//   font-size: 13px;
//   letter-spacing: 1px;
//
//   .inner {
//     display: flex;
//     justify-content: space-between;
//   }
//
//   .copyright {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     width: auto;
//     color: white;
//   }
//
//   .meta {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     width: 80%;
//
//     ul {
//       list-style-type: none;
//       color: #fff;
//     }
//
//     .links {
//       display: flex;
//       justify-content: space-evenly;
//       margin-right: 20px;
//       width: 70%;
//     }
//
//     .icons {
//       display: flex;
//       justify-content: space-around;
//       font-family: 'FontAwesome';
//       width: 20%;
//     }
//   }
// }
//
// @media screen and (max-width: 645px) {
//   footer {
//
//     .copyright {
//       align-items: flex-end;
//     }
//
//     .meta {
//       flex-direction: column;
//       align-items: flex-end;
//
//       .links {
//         order: 2;
//         width: 80%;
//         justify-content: space-between;
//         margin: 10px 0 0 0;
//       }
//
//       .icons {
//         order: 1;
//         width: 100%;
//         justify-content: flex-end;
//
//         li:not(:last-child) {
//           margin: 0 20px 0 0;
//         }
//       }
//     }
//   }
// }
//
// @media screen and (max-width: 450px) {
//   footer {
//
//     .inner {
//       flex-direction: column;
//     }
//
//     .copyright {
//       position: relative;
//       padding: 0 0 0px 0;
//       width: 100%;
//       align-items: flex-start;
//
//       &:after {
//         content: "";
//         position: absolute;
//         height: 1px;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: rgba(80,80,80,1);
//       }
//     }
//
//     .meta {
//       margin: 15px 0 0 0;
//       width: 100%;
//       flex-direction: row;
//
//       .links {
//         margin: 0;
//         order: 1;
//         align-items: flex-start;
//         flex-direction: column;
//
//         li:not(:last-child) {
//           margin: 0 0 15px 0;
//         }
//       }
//
//       .icons {
//         order: 2;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: flex-end;
//
//         li:not(:last-child) {
//           margin: 0 0 15px 0;
//         }
//       }
//     }
//   }
// }

.search{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 35px;
}



// h1 {
//   font-size: 1rem * $font-scale--default * $font-scale--default;
//   // margin-bottom: 3em;
//
//   @include media(m) {
//     font-size: 1rem * $font-scale--m * $font-scale--m;
//   }
//
//   @include media(l) {
//     font-size: 1rem * $font-scale--l * $font-scale--l;
//   }
// }

// h2 {
//   font-size: 1rem * $font-scale--default;
//
//   @include media(m) {
//     font-size: 1rem * $font-scale--m;
//   }
//
//   @include media(l) {
//     font-size: 1rem * $font-scale--l;
//   }
// }
//
// h3 {
//   font-size: 1rem;
// }
