// Link Handling

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 12px;
}



.hide-on-mobile {
  display: none;

  @include media(m) {
    display: block;
  }
}




.share {
  width: 15px;
height: 15px;
float: right;
margin-right: 8px;
justify-content: flex-end;
margin-top: 5px;
}

.links {
float: left;
margin-right: 10px;
}



.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.textaufbild{
  position: relative;
text-align: center;
color: white;
background-color: #F3890C;
}
