// Paragraph Handling

p {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  margin-block-end: 2rem;
}

li {
  padding: 1.2em;
  list-style: none;
  display: inline-block;
  font-size: 10px;
}
